<div class="outer-outer">
    <h1>Dare to dream</h1>
    <p style="font-family: 'Poppins', sans-serif;font-size:larger;text-align:center">"Feminism isn't about making women
        stronger. Women
        are already
        strong, it's about changing the way the world perceives that strength."
        G.D. Anderson</p>
    <div class="carousel" data-gap="80">
        <figure>
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(0)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[0].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(1)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[1].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(2)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[2].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(3)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[3].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(4)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[4].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(5)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[5].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(6)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[6].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(7)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[7].src" alt="">

        </figure>
        <nav>
            <button class="nav prev" (click)="collapse.toggle()" (click)="decreaseBio()">Prev</button>
            <button class="nav next" (click)="collapse.toggle()" (click)="increaseBio()">Next</button>
        </nav>
    </div>
    <div class="outer" #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
        <div class="container container0">
            <div class="card card0">
                <div class="info info0">
                    <h1 class="title title0">
                        Bio of {{femaleicons[index].name}}
                    </h1>
                    <h3>
                        <div class="row">
                            {{femaleicons[index].bio}}
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; padding-bottom:2rem;">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel id="config-panel-one">
                <ng-template ngbPanelTitle>
                    <h2 class="title-acc" style="font-size:2rem!important">Women in NEWS</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="jnews">
                        <div class="jmain">
                            <ul class="jcards">
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://www.shethepeople.tv/wp-content/uploads/2016/07/Gita-Gopinath1.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">The Fiscal Scholar - Gita Gopinath</h2>
                                            <p class="jcard_text">Gita Gopinath is a Harvard economist who became the
                                                first Indian woman to assume the position of Chief Economist at IMF -
                                                the International Monetary Fund. She is originally from Kerala and is
                                                the daughter of a farmer-entrepreneur! She is the John Zwaanstra
                                                Professor of International Studies and Economics at Harvard University.
                                                Ms. Gopinath is also the co-director of the International Finance and
                                                Macroeconomics program at the National Bureau of Economic Research.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://i.ndtvimg.com/i/2016-12/mc-mary-kom-pti_806x605_61481278339.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Ms. Knock-out - Mary Kom</h2>
                                            <p class="jcard_text">Chungneijang Mary Kom Hmangte is an Indian Olympic
                                                boxer from Manipur. She is the only woman to achieve the coveted No. 1
                                                position in the International Boxing Association (AIBA) after becoming
                                                the World Amateur Boxing champion for a six times record. Kom is also
                                                the only woman boxer to have won a medal in all seven world
                                                championships, making it a world record. Known as ‘Magnificent Mary,’
                                                she has become India’s favourite sportsperson, shining at several
                                                International platforms.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://sm.mashable.com/t/mashable_in/photo/default/hima-das-proves-yet-again-that-she-is-the-golden-girl-of-ind_zetk.960.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Dhing Express - Hima Das</h2>
                                            <p class="jcard_text">Hima Das is the first Indian athlete (sprint runner)
                                                to win gold at the IAAF World Under-20 Athletics Championship in 2018,
                                                held at Tampere, Finland. Later, she went on to win gold and silver
                                                medals at the Asian Games held in Jakarta. She currently holds the
                                                Indian national record in 400 meters, with a timing of 50.79s. The
                                                daughter of a humble rice farmer near the town of Dhing in Assam, Hima
                                                Das became a national phenomenon at the young age of 18. And in 2019,
                                                she won 5 gold medals in 20 days!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://www.merisaheli.com/wp-content/uploads/2018/02/4AVANI_b_220218.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Sky Warrior - Avani Chaturvedi</h2>
                                            <p class="jcard_text">Flight Lieutenant Avani Chaturvedi, a young Indian Air
                                                Force officer, became the first Indian woman fighter pilot to fly the
                                                ‘MiG-21 Bison’ solo. The MiG-21 Bison is known for its highest take-off
                                                and landing speed in the world at 340 kmph. Avani inspired many young
                                                women by making her mark in a field dominated by men.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://images.yourstory.com/cs/4/211ccaf00e6d11e997fe8f165dce9bb1/Image9tcb-1602834817394.jpg?fm=png&auto=format">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Biotech Pioneer - Kiran Mazumdar-Shaw</h2>
                                            <p class="jcard_text">Kiran Mazumdar-Shaw started her own venture- Biocon in
                                                1978. Today she is ranked 60th on the Forbes’ list of most powerful
                                                women in the world and is the richest self-made woman billionaire of
                                                India. She is currently the Chairperson and Managing Director of Biocon
                                                Limited (one of the largest biotechnology/biopharmaceutical companies in
                                                India) and the Chairperson of the Indian Institute of Management,
                                                Bangalore.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://images.yourstory.com/cs/wordpress/2016/10/Indra-Nooyi-Picture-courtesy-Pinterest.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Pepsi Queen - Indra Nooyi</h2>
                                            <p class="jcard_text">Indra Nooyi is a business executive and former CEO of
                                                PepsiCo. She has consistently been ranked among the world’s 100 most
                                                powerful women. She also featured on the Fortune List in 2015 as the 2nd
                                                most powerful woman in the world. In 2018, Nooyi was named as one of the
                                                ‘Best CEOs in the World’ and has also been awarded the Padma Bhushan and
                                                the CNN-IBM Indian of the year- Global Indian award 2019. She serves as
                                                a board member of Amazon currently and is the 2nd woman to be part of
                                                the board at Amazon. </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </ng-template>
            </ngb-panel>
            <ngb-panel id="config-panel-two">
                <ng-template ngbPanelTitle>
                    <h2 style="font-size:2rem!important">Women in Revolutions</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="jnews">
                        <div class="jmain">
                            <ul class="jcards">
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://i.pinimg.com/736x/e8/c4/33/e8c433ad7f85847aabea11c03b75afb5.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Matangini Hazra</h2>
                                            <p class="jcard_text">One of the first female members of the Indian National
                                                Congress, Matangini Hazra fought bravely for the freedom of the country,
                                                but in today’s era, her name is unheard off. The history books, we read
                                                in schools, have no mention of the courageous lady. She was a staunch
                                                Gandhian and supporter of the Non-cooperation movement. She, at the age
                                                of 73, was also an active participant of the Quit India Movement leading
                                                a procession of 6000 supporters, most of them were women, to confiscate
                                                the Tamluk police station when she was shot dead even after requesting
                                                the police not to open fire to the crowd.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Kasturba.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Kasturba Gandhi</h2>
                                            <p class="jcard_text">Kasturba Mohandas Karamchand Gandhi’s popularity is
                                                only based on being the doting wife of the father of the nation- Mahatma
                                                Gandhi. But how many of us know that she was one of the preeminent
                                                members of the Salt Satyagraha? Kasturba, born in Porbandar and married
                                                to Gandhi at the age of 13, worked in close association with his husband
                                                and fought for the civil rights of women. Her strength and power showed
                                                when she took charge when Gandhi was under arrest.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://rstv.nic.in/wp-content/uploads/2020/09/120175080_787964285104820_9111414816383376369_o-1024x970.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Begum Hazrat Ali</h2>
                                            <p class="jcard_text">Her role in the first war of independence in often
                                                ignored by the current generation. Wife of the last Tajdaar-e-Awadh
                                                Wajid Ali Shah, Begum Hazrat Ali was a powerful lady. She fought with
                                                the British alongside Rani Lakshmibai, however, her name got erased out
                                                of the thin pages of history.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://i2.wp.com/www.stillromancatholicafteralltheseyears.com/wp-content/uploads/2020/09/MOTHER-TERESA-1.jpg?resize=546%2C779">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Mother Teresa</h2>
                                            <p class="jcard_text">Mother Teresa was born Agnes Gonxha Bojaxhiu in
                                                Skopje, Macedonia, on August 26, 1910. Her family was of Albanian
                                                descent. At the age of twelve, she felt strongly the call of God. She
                                                knew she had to be a missionary to spread the love of Christ. At the age
                                                of eighteen she left her parental home in Skopje and joined the Sisters
                                                of Loreto, an Irish community of nuns with missions in India.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://diligentias.com/wp-content/uploads/2020/01/savitribaiphule.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Savitribai Phule</h2>
                                            <p class="jcard_text">Savitribai Phule (3 January 1831 – 10 March 1897) was
                                                an Indian social reformer, educationalist, and poet from Maharashtra.
                                                She is regarded as the first female teacher of India. Along with her
                                                husband, Jyotirao Phule, she played an important and vital role in
                                                improving women's rights in India. She is regarded as the mother of
                                                Indian feminism. Phule and her husband founded one of the first Indian
                                                girls' school in Pune, at Bhide wada in 1848.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="http://www.cadtm.org/local/cache-vignettes/L640xH406/arton18076-860b8.jpg?1593780842">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Rosa Luxemburg</h2>
                                            <p class="jcard_text">Rosa Luxemburg was a Polish Marxist, philosopher,
                                                economist, anti-war activist and revolutionary socialist who became a
                                                naturalized German citizen at the age of 28. Successively, she was a
                                                member of the Social Democracy of the Kingdom of Poland and Lithuania
                                                (SDKPiL), the Social Democratic Party of Germany (SPD), the Independent
                                                Social Democratic Party (USPD) and the Communist Party of Germany (KPD).
                                                After the SPD supported German involvement in World War I in 1915,
                                                Luxemburg and Karl Liebknecht co-founded the anti-war Spartacus League
                                                (Spartakusbund) which eventually became the KPD. During the November
                                                Revolution, she co-founded the newspaper Die Rote Fahne (The Red Flag),
                                                the central organ of the Spartacist movement. </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="config-panel-three">
                <ng-template ngbPanelTitle>
                    <h2 class="title-acc" style="font-size:2rem!important">Women in Inventions</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="jnews">
                        <div class="jmain">
                            <ul class="jcards">
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://news.rpi.edu/sites/default/files/styles/large/public/Dr.%20Jackson%20Portrait%20-%202.png?itok=fPr27Hec"
                                                alt="Dr. Shirley "></div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Dr. Shirley Jackson –Telecommunication research</h2>
                                            <p class="jcard_text">Theoretical physicist Dr. Shirly Jackson was the first
                                                black woman to receive a Ph.D. from the Massachusetts Institute of
                                                Technology in 1973. While working at Bell Laboratories, she conducted
                                                breakthrough scientific research with subatomic particles. Her research
                                                enabled others to invent the portable fax, touch tone telephone, solar
                                                cells, fibre optic cables, and the technology behind caller ID and call
                                                waiting. Imagine all the important information you would have missed
                                                without this amazing woman!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://cdn.britannica.com/75/135775-050-803BAC94/Marie-Curie-1917.jpg"
                                                alt="Marie Curie"></div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Marie Curie – Theory of Radioactivity</h2>
                                            <p class="jcard_text">By the time Polish physicist Marie Curie was just 44
                                                years old, she had laid out a theory of radioactivity (a term that she
                                                coined), techniques for isolating radioactive isotopes, and the
                                                discovery of two elements, polonium and radium. She was the first person
                                                in history to win two Nobel Prizes and the only person to win twice in
                                                multiple sciences!</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr93OEwMs9tnlXDuV2Rhng49KL4HfgwhXxww&usqp=CAU">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Nancy Johnson – The ice cream maker</h2>
                                            <p class="jcard_text">In 1843, Nancy from Philadelphia became one of the
                                                most important people in history by patenting a design for a
                                                hand-operated ice cream maker, which is still used to the current day!
                                                We don’t know what more to say other than thank you, Nancy Johnson, for
                                                helping people everywhere on hot days.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=1584&h=792&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F34%2F2018%2F04%2F12164700%2Fmaria-telkes-portrait-getty-96955485.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Maria Telkes – The first 100% solar powered house
                                            </h2>
                                            <p class="jcard_text">The Hungarian scientist is famous for creating the
                                                first thermoelectric power generator in 1947. With this technology and
                                                the principles of semiconductor thermoelectricity, she designed the
                                                first solar heating system for the Dover Sun House in Dover,
                                                Massachusetts, and the first thermoelectric refrigerator in 1953.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://seejane.org/wp-content/uploads/bio-ann-tsukamoto.jpg">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Ann Tsukamoto – Stem cell isolation</h2>
                                            <p class="jcard_text">In 1991, Tsukamoto and her colleagues made a major
                                                medical breakthrough – they were able to identify and isolate stem
                                                cells. This discovery has been vital to medical advancements, including
                                                the development of bone marrow transplants to treat blood cancer.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="jcards_item">
                                    <div class="jcard">
                                        <div class="jcard_image"><img
                                                src="https://images.newscientist.com/wp-content/uploads/2019/07/04180244/newrjy4ad.jpg?width=1200">
                                        </div>
                                        <div class="jcard_content">
                                            <h2 class="jcard_title">Rosalind Franklin – DNA double helix</h2>
                                            <p class="jcard_text">Although the discovery of the DNA double helix is
                                                often attributed to Watson and Crick, who won the Nobel Prize in
                                                Physiology in 1962, it was actually Rosalind Franklin whose work
                                                confirmed their theory on the structure of DNA.

                                                Rosalind Franklin, a British biophysicist, was the first person to
                                                capture a photographic image in 1952, nicknamed “Photo 51,” using a
                                                technique she had honed: observing molecules using X-ray diffraction
                                                (nope, we’ve got no idea what this is either). It is alleged that
                                                Wilkins, an estranged colleague, showed her photograph without her
                                                permission to competitors Watson and Crick, forever attaching their name
                                                to a discovery that was never theirs</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <!-- <div [routerLink]="['/quiz']"
        style="display:flex; flex-direction:row;align-items: center; border-radius: 10px;margin:auto; width:40%; border : 4px solid white; ">
        <h2 class="title-acc" style="font-size:2rem!important">Let us take you to our quiz page</h2>
    </div> -->
</div>