<div class="outer">
    <div class="container container0">
        <div class="card card0">
            <div class="info info0">
                <h1 class="title title0">
                    Quotes By Women:
                </h1>
                <h3>
                    <div class="row">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum facilis maxime,
                        minus aspernatur odit suscipit dolore vero similique, tenetur ex blanditiis earum aliquam
                        laudantium atque qui labore velit eum dolorum?
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>