<div class="outer-outer">
    <h1>Dare to dream</h1>
    <div class="carousel" data-gap="80">
        <figure>
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(0)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[0].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(1)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[1].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(2)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[2].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(3)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[3].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(4)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[4].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(5)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[5].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(6)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[6].src" alt="">
            <img class="special" (click)="collapse.toggle()" (click)="changeBio(7)" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample" [src]="femaleicons[7].src" alt="">

        </figure>
        <nav>
            <button class="nav prev" (click)="collapse.toggle()" (click)="decreaseBio()">Prev</button>
            <button class="nav next" (click)="collapse.toggle()" (click)="increaseBio()">Next</button>
        </nav>
    </div>
    <div class="outer" #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed">
        <div class="container container0">
            <div class="card card0">
                <div class="info info0">
                    <h1 class="title title0">
                        Bio of {{femaleicons[index].name}}
                    </h1>
                    <h3>
                        <div class="row">
                            {{femaleicons[index].bio}}
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%; padding-bottom:2rem;">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
            <ngb-panel id="config-panel-one">
                <ng-template ngbPanelTitle>
                    <h2 class="title-acc" style="font-size:2rem!important">Women in NEWS</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aut saepe laudantium optio
                    excepturi libero? Natus, nostrum deserunt quis excepturi necessitatibus perferendis quia
                    laudantium, provident praesentium similique hic veniam maxime.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="config-panel-two">
                <ng-template ngbPanelTitle>
                    <h2 style="font-size:2rem!important">Women in Revolutions</h2>
                </ng-template>
                <ng-template ngbPanelContent>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aut saepe laudantium optio
                    excepturi libero? Natus, nostrum deserunt quis excepturi necessitatibus perferendis quia
                    laudantium, provident praesentium similique hic veniam maxime.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>